*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  --color-primary: #1c64f2;
  --color-strong: #073ca4;
  --color-strong-down: #0e3176;
  --color-primary-disabled: #313e62;
  --color-text: #fff;
  --color-text-disabled: #616d8d;
  --color-gray-1: #616d8d;
  --color-gray-2: var(--color-primary-disabled);
  --color-gray-3: #222b44;
  --color-gray-4: #121825;
  --color-background: #000;
  --font-size-h1: 46px;
  --font-weight-h1: 700;
  --line-height-h1: 60px;
  --font-size-h2: 34px;
  --font-weight-h2: 600;
  --line-height-h2: 44px;
  --font-size-h3: 24px;
  --font-weight-h3: 500;
  --line-height-h3: 1.2;
  --font-size-h4: 18px;
  --font-weight-h4: 400;
  --line-height-h4: 1.2;
  --font-size-h5: 16px;
  --font-weight-h5: 400;
  --line-height-h5: 1.2;
  --line-height-h6: 1.2;
  --font-size-h6: 14px;
  --font-weight-h6: 400;
  --font-size-paragraph: 16px;
  --font-weight-paragraph: 400;
  --line-height-paragraph: 22px;
  --font-size-paragraph-sm: 14px;
  --line-height-paragraph-sm: 18px;
  --screen-tablet: 1060px;
  --screen-mobile: 670px;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (width <= 1060px) {
  :root {
    --font-size-h1: 40px;
    --line-height-h1: 52px;
    --font-size-h2: 30px;
    --line-height-h2: 40px;
    --font-size-paragraph: 14px;
    --line-height-paragraph: 18px;
    --font-size-paragraph-sm: 12px;
    --line-height-paragraph-sm: 16px;
  }
}

@media (width <= 670px) {
  :root {
    --font-size-h1: 28px;
    --line-height-h1: 36px;
    --font-size-h2: 24px;
    --line-height-h2: 32px;
  }
}

@font-face {
  font-weight: 700;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("../fonts/IBM Plex Sans/IBMPlexSans-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("../fonts/IBM Plex Sans/IBMPlexSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("../fonts/IBM Plex Sans/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "IBM Plex Sans";
  font-style: normal;
  src: url("../fonts/IBM Plex Sans/IBMPlexSans-Regular.ttf") format("truetype");
}

body {
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--color-background);
}
