.ChatWrapper {
  position: relative;
  z-index: 1;
  max-width: 100%;

  &::before {
    position: absolute;
    top: -75px;
    right: 0;
    z-index: -1;
    width: 140%;
    height: 600px;
    background: radial-gradient(
      240% 220% at 60% 50%,
      rgba(#103fe7, 90%) 0%,
      rgba(0, 0, 0, 0) 25%
    );
    content: '';
  }

  &::after {
    position: absolute;
    top: -200px;
    left: 20%;
    z-index: -1;
    width: 110%;
    height: 800px;
    background: radial-gradient(
      180% 200% at 45% 55%,
      rgba(#ff1ee8, 50%) 0%,
      rgba(0, 0, 0, 0) 22%
    );
    content: '';
  }
}

.Chat {
  --deg: 0deg;
  --padding: 24px;
  --border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(var(--color-gray-4), var(--color-gray-4)) padding-box,
    linear-gradient(
        var(--deg),
        rgba(0, 0, 0, 0) 0%,
        #ba1cf2 33%,
        var(--color-primary) 67%,
        var(--color-primary) 100%
      )
      border-box,
    linear-gradient(-180deg, #363f54 15%, rgba(0, 0, 0, 0) 100%) border-box;
  border: 1px solid transparent;
  border-radius: var(--border-radius);

  @media (width <= 670px) {
    --padding: 18px;
    --border-radius: 16px;
  }
}

.ChatHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  padding: 16px var(--padding);
  border-bottom: 1px solid #374151;

  .ChatIcon {
    width: 50px;
    height: 50px;
  }

  .UserType {
    color: var(--color-gray-1);
  }

  .ChatSettings {
    position: relative;
    margin-left: auto;

    & label {
      display: flex;
      gap: 12px;
      align-items: center;
      cursor: pointer;
    }

    & label::after {
      display: block;
      width: 20px;
      height: 20px;
      background-color: var(--color-gray-3);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 10px;
      border: 1px solid var(--color-gray-1);
      border-radius: 2px;
      content: '';
    }

    & input:checked + label::after {
      background-color: var(--color-primary);
      background-image: url('@/ui/icons/Check.svg');
      border-color: var(--color-primary);
    }

    & input {
      position: absolute;
      z-index: -1;
      width: 1px;
      height: 1px;
      opacity: 0;
    }
  }

  /* gradient line */
  &::before {
    position: absolute;
    top: 0;
    left: 49px;
    z-index: 1;
    width: 60%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      var(--color-primary) 51%,
      rgba(0, 0, 0, 0) 100%
    );
    content: '';
  }

  /* gradient line */
  &::after {
    position: absolute;
    top: 0;
    right: 28px;
    z-index: 1;
    width: 20%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      #ba1cf2 51%,
      rgba(0, 0, 0, 0) 100%
    );
    content: '';
  }
}

.ChatContent {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  padding-bottom: var(--padding);
  overflow: hidden;
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  & .ChatForm {
    position: relative;
    z-index: 2;
  }

  /* gradient blob */
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 360px;
    height: 260px;
    background: radial-gradient(
        80% 110% at 10% 120%,
        var(--color-primary) 0%,
        rgba(0, 0, 0, 0) 71%
      ),
      radial-gradient(
        50% 90% at 55% 120%,
        rgba(#db01ff, 70%) 0%,
        rgba(0, 0, 0, 0) 71%
      );
    opacity: 0.7;
    content: '';
    pointer-events: none;
  }
}

.ChatMessages {
  flex: 1 0 auto;
  position: relative;

  width: 100%;

  padding-right: var(--padding);
  padding-left: var(--padding);
  height: 0px;
  min-height: 395px;
  max-height: calc(100vh - 600px);
  transition: height 0.7s ease-in-out;
  overscroll-behavior: contain;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: end;
    justify-content: flex-start;
    max-width: 100%;

    width: 100%;
    list-style: none;
  }

  & .ChatMessage:first-child {
    margin-top: 18px;
  }

  & .ChatMessage:last-child {
    margin-bottom: 18px;
  }
}

.ChatMessage {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: start;
  align-self: end;
  justify-content: flex-start;
  max-width: 100%;
  word-wrap: break-word;

  & .ChatMessageAvatar,
  & .ChatMessageContent {
    transform: translateY(-50px);
    opacity: 0;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }

  &.ChatMessageMounted .ChatMessageAvatar,
  &.ChatMessageMounted .ChatMessageContent {
    transform: translateY(0);
    opacity: 1;
  }

  & * {
    word-break: break-word;
  }

  & .ChatMessageAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background: var(--color-gray-3);
    border-radius: 50%;
  }

  & .ChatMessageContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .ChatMessageText {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px 16px;
    background: var(--color-primary);
    border-radius: 10px 10px 0;
  }

  &.ChatMessageBot {
    flex-direction: row;
    align-self: start;

    & .ChatMessageText {
      background: var(--color-gray-2);
      border-radius: 10px 10px 10px 0;
    }
  }
}

.ErrorMessage {
  margin: 6px var(--padding) 18px;
  padding: 12px 20px;
  background: var(--color-danger);
  border-radius: 10px;
}

.ChatForm {
  margin-top: auto;
  display: flex;
  align-items: start;
  gap: 12px;
  margin-right: var(--padding);
  margin-left: var(--padding);
  padding: 12px 20px;
  background:
    linear-gradient(var(--color-gray-4), var(--color-gray-4)) padding-box,
    linear-gradient(
        var(--deg),
        var(--default-border-color) 0%,
        var(--loader-color) 10%,
        var(--loader-color) 20%,
        var(--default-border-color) 30%,
        var(--default-border-color) 100%
      )
      border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: background 0.2s ease-in-out;

  --deg: 0deg;
  --default-border-color: var(--color-gray-2);
  --loader-color: var(--default-border-color);

  &.ChatIsPending {
    --loader-color: #ba1cf2;
  }

  &:hover,
  &:has(input:focus),
  &:has(button:focus) {
    &:not(.ChatIsPending) {
      --default-border-color: var(--color-primary);
    }
  }
}

.ChatFormInput {
  flex: 1;
  color: var(--color-text);
  font-weight: 500;
  font-size: var(--font-size-paragraph-sm);
  line-height: var(--line-height-paragraph-sm);
  background: none;
  border: none;
  display: block;
  resize: none;
  padding: 12px 0px;

  &::placeholder {
    color: var(--color-gray-1);
    font-weight: 400;
  }

  &:focus {
    outline: none;
  }
}

.SendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 11px;

  & svg {
    width: 16px;
    height: 14px;
  }
}
