.H1 {
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

.H2 {
  font-weight: var(--font-weight-h2);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

.H3 {
  font-weight: var(--font-weight-h3);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.H4 {
  font-weight: var(--font-weight-h4);
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

.H5 {
  font-weight: var(--font-weight-h5);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

.H6 {
  font-weight: var(--font-weight-h6);
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.Paragraph {
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
}

.ParagraphSizeMd {
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
}

.ParagraphSizeSm {
  font-size: var(--font-size-paragraph-sm);
  line-height: var(--line-height-paragraph-sm);
}

.FontWeightNormal {
  font-weight: 400;
}

.FontWeightMedium {
  font-weight: 500;
}

.FontWeightSemibold {
  font-weight: 600;
}

.FontWeightBold {
  font-weight: 700;
}

.Code {
  display: block;
  padding: 8px;
  overflow-x: auto;
  font-size: var(--font-size-paragraph-sm);
  font-family: monospace;
  line-height: var(--line-height-paragraph-sm);
  background: var(--color-gray-4);
  border-radius: 10px;
}
