.Container {
  width: 100%;
  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;

  @media (width <= calc(1290px + 80px)) {
    max-width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (width <= calc(670px + 32px)) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
