.BurgerButton {
  position: relative;
  padding: 19px;

  --gap: 4px;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    width: 16px;
    height: 2px;
    background-color: var(--color-text);
    border-radius: 1px;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  span:nth-child(1) {
    transform: translate(-50%, calc(-50% + var(--gap))) rotate(0deg);
  }

  span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  span:nth-child(3) {
    transform: translate(-50%, calc(-50% - var(--gap))) rotate(0deg);
  }

  &.BurgerButtonOpen {
    span:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    span:nth-child(2) {
      transform: translate(-50%, -50%) rotateY(90deg);
    }

    span:nth-child(3) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
